
server:
  port: 7777
  servlet:
    jsp:
      init-parameters:
        development: true

spring:
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:orcl
    #url: jdbc:mysql://localhost:3306/jpa_test_db?allowpublickeyretrieval=true&usessl=false&serverTimezone=UTC
    #url: jdbc:mysql://localhost:3306/lecture_support?allowpublickeyretrieval=true&usessl=false&serverTimezone=UTC
    #username: eddi
    #password: eddi@123
    username: scott
    password: tiger
    driver-class-name: oracle.jdbc.OracleDriver
    dialect: org.hibernate.dialect.Oracle10gDialect
    #driver-class-name: com.mysql.cj.jdbc.Driver
    #dialect: org.hibernate.dialect.MySQL8Dialect

  jpa:
    open-in-view: false
    database: oracle
    #database: mysql
    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.Oracle10gDialect
    hibernate:
      #ddl-auto: update
      ddl-auto: create

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

upload:
  path: d:/image/upload